<div class="outerContainer" (window:resize)="onResize($event)" *ngIf="showViewer">

    <md-button-toggle-group *ngIf="qualitySelectorShown" (change)="qualityChanged($event.value)" name="quality">
        <md-button-toggle value="auto" checked="true">Auto</md-button-toggle>
        <md-button-toggle value="low">Low</md-button-toggle>
        <md-button-toggle value="mid">Mid</md-button-toggle>
        <md-button-toggle value="high">High</md-button-toggle>
    </md-button-toggle-group>

    <img [ngClass]="{'activeArrow': leftArrowActive}" class="arrow left" [src]="arrows[0]" (click)="navigate(-1)"
         [hidden]="!leftArrowVisible"/>
    <img [ngClass]="{'activeArrow': rightArrowActive}" class="arrow right" [src]="arrows[1]"
         (click)="navigate(1)" [hidden]="!rightArrowVisible"/>

    <div class="buttonContainer">
        <img class="action close" src="assets/img/icon/close.svg" (click)="closeViewer()"/>
    </div>
    <button md-fab disableRipple class="menuButton" (click)="showQualitySelector()">
        <md-icon>settings</md-icon>
    </button>

    <div #imageContainer class="imageContainer" (click)="showNavigationArrows()" (swipeleft)="navigate(1, $event)"
         (swiperight)="navigate(-1, $event)" (pan)="pan($event)" (panend)="panEnd()">
        <img #image
             *ngFor='let img of images; let j = index'
             class="image"
             [class.active]="img['active']"
             [src]="img['active'] ? img[categorySelected]['path'] : img['preview_xxs']['path']"
             [style.transform]="transform"/>
    </div>

</div>