<div class="mainContainer">
    <div class="headlineContainer">
        angular2-image-gallery
    </div>
    <md-input-container>
        <input md-input [(ngModel)]="flexBorderSize" type="number" min="1" max="50" placeholder="Space between images">
    </md-input-container>
    <md-input-container>
        <input md-input [(ngModel)]="flexImageSize" type="number" min="0" max="50" placeholder="Image size">
    </md-input-container>

    <gallery [flexBorderSize]="flexBorderSize" [flexImageSize]="flexImageSize"></gallery>

    <br/><br/>
    <span>built with </span><a href="https://github.com/BenjaminBrandmeier/angular2-image-gallery">angular2-image-gallery</a>
</div>
