<div class="mainContainer">
  <div class="headlineContainer">
    angular2-image-gallery &nbsp;
    <a class="github-button" href="https://github.com/benjaminbrandmeier/angular2-image-gallery" data-style="mega"
       data-count-href="/benjaminbrandmeier/angular2-image-gallery/stargazers"
       data-count-api="/repos/benjaminbrandmeier/angular2-image-gallery#stargazers_count"
       data-count-aria-label="# stargazers on GitHub"
       aria-label="Star benjaminbrandmeier/angular2-image-gallery on GitHub">Star</a>
  </div>
  <input mdInput [(ngModel)]="flexBorderSize" type="number" min="1" max="50" placeholder="Space between images">
  <input mdInput [(ngModel)]="flexImageSize" type="number" min="0" max="50" placeholder="Image size">
  <input mdInput [(ngModel)]="galleryName" placeholder="Gallery name">

  <gallery (viewerChange)="onViewerVisibilityChanged($event)"
           [flexBorderSize]="flexBorderSize"
           [flexImageSize]="flexImageSize"
           [galleryName]="galleryName"></gallery>

  <br/><br/>
  <span>built with </span><a
  href="https://github.com/BenjaminBrandmeier/angular2-image-gallery">angular2-image-gallery</a>
</div>
