<div #galleryContainer class="galleryContainer">
    <div class="innerGalleryContainer">
        <div *ngFor='let imgrow of gallery; let i = index' class="imagerow">
            <img #imageElement
                 *ngFor='let img of imgrow; let j = index'
                 class="thumbnail"
                 [style.width.px]="img.width"
                 [style.height.px]="img.height"
                 (click)="openImageViewer(img)"
                 [src]="loadImage(img)"
                 [style.background]="img.dominantColor"/>
        </div>
    </div>
</div>

<app-viewer></app-viewer>
