/* Image gallery */

.innerGalleryContainer {
  position: relative;
}
.galleryContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.galleryContainer img:not(:last-child) {
  padding-right: 1px;
}
.galleryContainer img:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  transition: all ease-out 0.2s;
  cursor: pointer;
}
.imagerow {
  margin: 0px 1px 1px 0px;
  overflow: hidden;
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}
.asyncLoadingContainer {
  position: absolute;
  background-color: transparent;
  height: 0px;
  width: 0px;
  bottom: 120px;
}
