/* Image gallery */

.innerGalleryContainer {
    position: relative;
}

.galleryContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.innerGalleryContainer img:last-child {
    /* important to overwrite inline css and prevent chrome flickering bug */
    margin-right: -1px !important;
}

.galleryContainer img:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    transition: all ease-out 0.2s;
    cursor: pointer;
}

.imagerow {
    margin-right: 1px;
    overflow: hidden;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.asyncLoadingContainer {
    position: absolute;
    background-color: transparent;
    height: 0px;
    width: 0px;
    bottom: 120px;
}

.pagerContainer {
    margin: 40px auto;
    width: 180px;
}

@media (max-width: 700px) {
    .pagerContainer {
        margin: 40px auto;
        width: 150px;
    }
}

.pager {
    display: block;
    height: 60px;
}

@media (max-width: 700px) {
    .pager {
        display: block;
        height: 45px;
    }
}

.pager.inactive {
    opacity: 0.15;
}

.pager.left {
    float: left;
}

.pager.right {
    float: right;
}

