    angular2-image-gallery <a class="github-button" href="https://github.com/benjaminbrandmeier/angular2-image-gallery"
                             data-icon="octicon-star" aria-label="Star benjaminbrandmeier/angular2-image-gallery on GitHub">Star</a>
    <br><br><br>

    <div class="slider-wrapper">
      <strong>Space between images </strong><ng5-slider [(value)]="flexBorderSize" [options]="{floor: 1, ceil: 50}"></ng5-slider>
      <br><br>
      <strong>Image size </strong><ng5-slider [(value)]="flexImageSize" [options]="{floor: 0, ceil: 50}"></ng5-slider>
    </div>

    <br><br>

    <gallery (viewerChange)="onViewerVisibilityChanged($event)"
             [flexBorderSize]="flexBorderSize"
             [flexImageSize]="flexImageSize"
             [maxRowsPerPage]="15"
             [galleryName]="galleryName"></gallery>
    <br/><br/>
