/* Image gallery */

.innerGalleryContainer {
  position: relative;
  overflow-y: scroll;
}
.galleryContainer {
  height: 100%;
  width: 100%;
}
.galleryContainer img:not(:last-child) {
  padding-right: 2px;
}
.galleryContainer img:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  transition: all ease-out 0.2s;
  cursor: pointer;
}
.imagerow {
  padding: 0px 0px 2px 0px;
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}

/* Image viewer */

.outerContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.95);
  transition: all ease-out 1.0s;
}
.outerContainer.ng-enter {
  background-color: rgba(0, 0, 0, 0.0);
}
.outerContainer.ng-enter-active {
  background-color: rgba(0, 0, 0, 0.95);
}
.imageContainer {
  position: absolute;
  float: none;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
}
.imageContainer img {
  position: absolute;
  display: block;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  opacity: 1.0;
  transform: translate(0px, 0px);
  transition: all ease-out 1.0s;
}
.arrow {
  height: 50px;
  position: absolute;
  /* use sass variables here once they are ready */
  top: calc(50% - 50px/2);
  bottom: 50%;
  z-index: 1;
}
.arrow.left {
  left: 50px;
}
.arrow.right {
  right: 50px;
}
.activeArrow {
  opacity: 1.0;
  transition: all ease-out 0.5s;
}
.activeArrow.ng-enter {
  opacity: 0.4;
}
.activeArrow.ng-enter-active {
  opacity: 1.0;
}
:not(.activeArrow).arrow {
  opacity: 0.4;
  transition: all ease-out 0.5s;
}
:not(.activeArrow).arrow.ng-enter {
  opacity: 1.0;
}
:not(.activeArrow).arrow.ng-enter-active {
  opacity: 0.4;
}
.activeArrow:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all ease-out 0.5s;
}
.activeArrow.ng-enter:hover {
  opacity: 1.0;
}
.activeArrow.ng-enter-active:hover {
  opacity: 0.8;
}
.buttonContainer .closeButton {
  position: relative;
  margin-top: 28px;
  z-index: 200;
  background-color: #AAAAAA;
  border-radius: 21px;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  padding: 11px 29px;
  border: 0;
}
.buttonContainer .closeButton:focus {
  outline: 0;
}
.buttonContainer .closeButton:hover {
  background-color: #A0A0A0;
  transition: all ease-out 0.3s;
}
.buttonContainer .closeButton:hover.ng-enter {
  background-color: #AAAAAA;
}
.buttonContainer .closeButton:hover.ng-enter-active {
  background-color: #A0A0A0;
}
.buttonContainer {
  text-align: center;
  opacity: 1.0;
  transition: all ease-out 0.5s;
}
.buttonContainer.ng-enter {
  opacity: 0.4;
}
.buttonContainer.ng-enter-active {
  opacity: 1.0;
}
