<div class="galleryContainer" #galleryContainer>
  <div class="innerGalleryContainer">
    <div *ngFor='let imgrow of gallery; let i = index' class="imagerow">
      <img *ngFor='let img of imgrow; let j = index' class="thumbnail" [style.width.px]="img.width" [style.height.px]="img.height" (click)="openImageViewer(img)" [src]="thumbnailBasePath + img.name" />
    </div>
    <div #asyncLoadingContainer class="asyncLoadingContainer"></div>
  </div>
</div>

<div class="outerContainer" [hidden]="!showBig">
  <img [ngClass]="{'activeArrow': leftArrowActive}" class="arrow left" [src]="arrows[0]" (click)="navigateLeft()" [hidden]="!showBig" />
  <img [ngClass]="{'activeArrow': rightArrowActive}" class="arrow right" [src]="arrows[1]" (click)="navigateRight()" [hidden]="!showBig" />
  <div class="buttonContainer" [hidden]="!showBig">
    <span class="action fullsize" (click)="openFullsize()" [hidden]="!showBig">100%</span>
    <img class="action close" src="assets/img/icon/close.svg" (click)="showBig = !showBig" [hidden]="!showBig" />
  </div>
  <div class="imageContainer" [hidden]="!showBig">
    <img class="image" [src]="previewImage" [hidden]="!showBig" />
  </div>
</div>

<router-outlet></router-outlet>
