<div class="galleryContainer" #galleryContainer>
  <div class="innerGalleryContainer">
    <div *ngFor='let imgrow of gallery; let i = index' class="imagerow">
      <img *ngFor='let img of imgrow; let j = index' class="thumbnail" [style.width.px]="img.width" [style.height.px]="img.height" (click)="openImageViewer(img)" [src]="img.thumbnail" />
    </div>
  </div>
</div>

<div class="outerContainer ng-animate" [hidden]="!showBig">
  <img [ngClass]="{'activeArrow': leftArrowActive}" class="arrow left ng-animate" [src]="arrows[0]" (click)="navigateLeft()" />
  <img [ngClass]="{'activeArrow': rightArrowActive}" class="arrow right ng-animate" [src]="arrows[1]" (click)="navigateRight()" />
  <div class="buttonContainer">
    <span class="action fullsize" (click)="openFullsize()">100%</span>
    <img class="action close" src="assets/img/close.svg" (click)="showBig = !showBig" />
  </div>
  <div class="imageContainer">
    <img class="image ng-animate" [src]="images[currentIdx].preview" />
  </div>
</div>

<router-outlet></router-outlet>
